# WUD Configuration

# Listen port for WUD UI/API
WUD_PORT=3038

# Timezone
TIMEZONE=Europe/Moscow

# Log level: error | warn | info | debug
WUD_LOG_LEVEL=info

# Optional: Basic auth (escape $ as $$ if using hashes)
#WUD_AUTH_BASIC_ADMIN_USER=
#WUD_AUTH_BASIC_ADMIN_HASH=


