# Jellyfin Configuration
JELLYFIN_PORT=8096
JELLYFIN_PORT_DLNA=1900
JELLYFIN_PORT_CLIENT=7359

# Media path (defaults to ~/Media if not set)
MEDIA_PATH=~/Media

# Timezone
TIMEZONE=Europe/Moscow

# Public server URL for external access (optional)
JELLYFIN_PUBLISHED_SERVER_URL=
